<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no ">
    <title>Document</title>
    <script src='../vue.js'></script>
</head>
<body>
    
    <div id='app'>
        <input type="text" v-model="n1">
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="n2">
        <input type="button" value="=" @click="aa">
        <input type="text" v-model="res">
    </div>

<script>
    new Vue ({
        el : '#app',
        data : {
            n1 : '1',
            n2 : '1',
            opt : '+',
            res : ''
        },
        methods : {
            aa(){
                var res = 'parseInt(this.n1)' + this.opt + 'parseInt(this.n2)';
                this.res = eval(res);
            }   
        }
    });
</script>

</body>
</html>